@charset "UTF-8";

@media screen and (max-width:1024px) {
  /*　for iPhone Landscape　(iPhone 横)　*/
  #main {
    width: 100vw;
  }
  .header_tab {
    width:100%;
  }
  #tab {
    width: 100vw;
  }
  #select-tab-cover {
    width: 20vw;
  }
  .floating-result {
    width: 100vw;
  }
  #contents {
    margin-bottom: 116px;
  }
  .calc-inp-tbl, .clac-result-tbl, .prob-inp-tbl {
    font-size: 11px;
  }
  .floating-result {
    height: 133px;
  }
}
@media screen and (min-width:1024px) {
  /*　for PC　*/
  #main {
    width: 70%;
    margin: auto;
  }
  .header_tab {
    width:100%;
  }
  #tab {
    width: 70%;
    margin: auto;
  }
  #select-tab-cover {
    width: 14%;
  }
  .floating-result {
    width: 100%;
  }
  #contents {
    margin-bottom: 123px;
    margin-left: auto;
    margin-right: auto;
  }
  #contents table {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
  .floating-result table {
    width: 70%;
  }
  .calc-inp-tbl, .clac-result-tbl, .prob-inp-tbl {
    font-size: 12px;
  }
  .floating-result {
    height: 140px;
  }
}
/* モーダル表示時にズレるため修正 */
.modal-open, .modal, .header_tab, .floating-result, #contents {
  padding-right: 0px !important;
}
/* タブ */
.header_tab {
  background-color: white;
  border-style: none none solid none;
  border-color: #DDD;
  border-width: 1px;
}
#tab {
  display: flex;
  height: 48px;
  background-color: white;
  border-color: #DDD;
  border-width: 1px;
}
.tab-label {
  text-align: center;
  line-height: 48px;
  width: 100%;
  opacity: 0.2;
  transition: all 1s ease; /* 不透明度が1秒かけて変化する */
}
input[name="tab-radio"] {
  display: none; /* ラジオボタンを非表示にする */
}
input[name="tab-radio"]:checked+.tab-label {
  opacity: 1; /* アクティブタブの不透明度を1にする */
}
/* アクティブなタブのアンダーバー */
#select-tab-cover {
  position: absolute;
  height: 48px;
  border-style: none none solid;
  border-color: #000;
  border-width: 2px;
  pointer-events: none; /* クリックを無効にする */
}
/* 入力 */
#contents {
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: auto;
  margin-top: 48px;
  scroll-snap-type: x mandatory; /* スクロールをピッタリ止める */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#contents::-webkit-scrollbar {
  display:none;
}
.contents-item {
  scroll-snap-align: center;/* ページの真ん中でスクロールを止める */
  scroll-snap-stop: always; /* スクロール時にページを飛ばさない。 */
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.calc-inp-tbl, .clac-result-tbl, .prob-inp-tbl {
  width: 100%;
  white-space: nowrap;
}
.calc-inp-tbl td {
  height: 100%;
}
.calc-inp-tbl th, .prob-inp-tbl th {
  width: 12.5%;
  text-align: center;
  vertical-align: middle;
}
.prob-inp-tbl td {
  height: 100%;
  width: 37.5%;
}
.clac-result-tbl th, .clac-result-tbl td, .prob-inp-tbl th, .prob-inp-tbl td {
  text-align: center;
}
.col_result_header {
  width: 8%;
}
.col_result_damage {
  width: 18.4%;
}
.col_footprints {
  width: 25%;
}
input[type="number"] {
  height: 100%;
}
.tab-label {
  cursor : pointer;
}
select {
  height: 100%;
  text-align: center;
}
.floating-result {
  background-color: white;
  border-style: solid none none none;
  border-color: #DDD;
  border-width: 1px;
  cursor : pointer;
}
a {
  text-decoration: none !important;
}
.servant_name {
  cursor : pointer;
}